#widget-6b1d4242-3f8c-43b8-83fa-d9cae3f21239 .header-image {
				height: 175px;
				background-image: url(../attachments/Header/published_image_0.jpg);
				border-radius: 0 0 0 0;background-size: cover;
					background-position: center center;}