#widget-6d94f2be-2252-45fe-97de-a85364be2661 .header-image {
				height: 175px;
				background-image: url(../attachments/Header/published_community_04.jpg);
				border-radius: 0px 0px 0px 0px;background-size: cover;
					background-position: center center;}