#widget-36000bad-e895-4ebb-bbfa-0d6743f4cd03 .header-image {
				height: 175px;
				background-image: url(../attachments/Header/published_library_01.jpg);
				border-radius: 0 0 0 0;background-size: cover;
					background-position: center center;}